Q.1. What are data structures, and why are they important?

Ans. Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

Q.2. Explain the difference between mutable and immutable data types with examples?

Ans. Mutable data types can be modified after they are created, while immutable data types cannot.

Here are some examples:

Mutable data types:

Lists: You can add, remove, or change elements in a list.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Dictionaries: You can add, remove, or change key-value pairs in a dictionary.

In [ ]:
my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

Immutable data types:

Tuples: You cannot change the elements of a tuple after it is created.

In [ ]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 4  # This will raise a TypeError

Strings: You cannot change individual characters in a string.

In [ ]:
my_string = "Hello"
# my_string[0] = 'J'  # This will raise a TypeError

Q.3. What are the main differences between lists and tuples in Python?

Ans. The main difference between lists and tuples in Python is that lists are mutable, meaning their elements can be changed, while tuples are immutable, so their elements cannot be changed after creation.

Q.4. Describe how dictionaries store data?

Ans. Dictionaries in Python store data in key-value pairs. Each unique key is associated with a specific value. This structure allows for fast and efficient data retrieval based on the key, rather than by a numerical index.

Q.5. Why might you use a set instead of a list in Python?

Ans. You would use a set instead of a list in Python when you need to store a collection of unique items and require fast membership testing (checking if an item exists in the collection). Sets are unordered and do not allow duplicate elements, which are their defining characteristics.

Key Reasons to Use a Set

Uniqueness: Sets automatically handle uniqueness. If you add a duplicate item to a set, it simply gets ignored without raising an error. This is incredibly useful for tasks like removing duplicates from a list.

Performance: Sets are highly optimized for checking membership using the in operator. The average time complexity for checking if an item is in a set is O(1) (constant time), while for a list, it's O(n) (linear time), meaning it gets slower as the list grows. This performance difference makes sets ideal for tasks that involve frequent lookups.

Mathematical Operations: Sets support common mathematical set operations like union, intersection, difference, and symmetric difference. These operations provide a powerful and concise way to compare and combine collections of data.

Q.6. What is a string in Python, and how is it different from a list?

Ans. A string in Python is an immutable sequence of characters, while a list is a mutable sequence of objects. Strings are used to represent text, and lists can hold any type of data, including numbers, other lists, and strings.

Strings:

A string  is a data type used to represent text. In python, a string is an immutable sequence, meaning that once it's created, you can't change its individual characters.
Strings are often defined using single, double, or triple quotes.

List:

A list is data type used to store a collection of items. A list is a mutable sequence, which means you can change its contents after it's created. You can add, remove, or modify items within a list.
Lists are defined using square brackets[] and the items are separated by commas.

Q.7. How do tuples ensure data integrity in Python?

Ans. Tuples ensure data integrity in Python by being immutable. Once a tuple is created, you cannot change, add, or remove its elements. This immutability guarantees that the data stored in the tuple remains constant throughout the program's execution, which is crucial for maintaining data integrity.

Q.8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table is a data structure that stores key-value pairs by using a hash function to map a key to a specific index in an array. This method allows for very fast data lookups, insertions, and deletions, with an average time complexity of O(1) (constant time).

Hash Tables and Python Dictionaries

​In Python, a dictionary is the built-in, high-level implementation of a hash table. While you use the dictionary data type in your code, the underlying mechanism that makes it so efficient is a hash table.

​The direct relationship is this:

​A hash table is the abstract concept and underlying data structure.  
​A dictionary is the concrete Python implementation of that concept.

Q.9. Can lists contain different data types in Python?

Ans. Yes, lists can contain different data types in Python. A single list can hold a mix of integers, strings, floats, booleans, and even other lists, tuples, or dictionaries. This is a key feature of Python's dynamic typing, which makes lists highly versatile.

Q.10. Explain why strings are immutable in Python?

Ans. Strings are immutable in Python because this design choice provides several key benefits, including performance optimization, memory efficiency, and thread safety. Once a string is created, its contents cannot be changed. Any operation that seems to "modify" a string, like uppercasing it, actually creates a new string with the desired changes.

Q.11. What advantages do dictionaries offer over lists for certain tasks?

Ans. Dictionaries offer significant advantages over lists for tasks that involve quick data lookups, associating data with unique identifiers, and representing structured data. The key benefit is that they are optimized for accessing values by a key, rather than by an index.

Q.12. Describe a scenario where using a tuple would be preferable over a list.

Ans. Using a tuple is preferable over a list when you need to store a collection of items that should not be changed after they are created. Tuples are immutable, which provides data integrity and makes them suitable for constant data.

Scenario: Storing Geographic Coordinates

Imagine you're developing an application that deals with geographic data. You need to store the latitude and longitude of a specific location.


​Why a list is a bad choice: If you store the coordinates in a list, like location = [40.7128, -74.0060], the data is mutable. Another part of your code could accidentally or intentionally modify this list, leading to an incorrect location. For example, a bug could change location[0] to an invalid value, corrupting the data without any warning.


​Why a tuple is a good choice: By using a tuple, location = (40.7128, -74.0060), you enforce immutability. Any attempt to change the coordinates, such as location[0] = 41.0, will result in a TypeError, immediately alerting you to the invalid operation.
  
​This makes tuples ideal for storing fixed data, like coordinates, RGB color values, or database credentials, where the integrity and permanence of the data are critical. Tuples also perform slightly better than lists for these tasks and can be used as keys in a dictionary because they are hashable.

Q.13. How do sets handle duplicate values in Python?

Ans. Sets in Python handle duplicate values by automatically discarding them. When you add an item that already exists in a set, the set simply ignores the new value and does not raise an error. This behavior is a core characteristic of sets and makes them ideal for tasks that require a collection of unique elements.

Q.14. How does the “in” keyword work differently for lists and dictionaries?

Ans. The "in" keyword in Python checks for the presence of an element within a container, but it works differently for lists and dictionaries due to their underlying data structures. For lists, it checks for a value, whereas for dictionaries, it checks for a key.

In [ ]:
#For Lists

my_list = [1, 2, 3, 4, 5]
print(3 in my_list)  # Output: True
print(6 in my_list)  # Output: False

True
False

In [ ]:
#For Dictionaries

my_dict = {'name': 'Priya', 'age': 24, 'city': 'Jaipur'}
print('name' in my_dict)  # Output: True
print('city' in my_dict)  # Output: False
print('Priya' in my_dict)  # Output: False

True
True
False

Q.15.  Can you modify the elements of a tuple? Explain why or why not.

Ans. No, you can't modify the elements of a tuple. Tuples are immutable, which means their contents cannot be changed after they are created. Any operation that attempts to alter a tuple's elements—like adding, removing, or changing an item—will result in a TypeError.

Why not?

This Design allows tuples to be:

Hashable- This allows them to be used as keys in dictionaries and elements in sets.
Memory- Efficient

Safe for use in constant or fixed collections

Q.16. What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary where the values of one or more of its keys are themselves other dictionaries. This structure allows you to represent and store hierarchical or complex, multi-layered data in a logical way.

Use case example : Storing Employee Data

Let's imagine you want to store the names, ages, and departments for a few employees. A single dictionary would work, but a nested dictionary provides a more logical structure, where each employee ID is a key, and its value is another dictionary containing their details.

Q.17. Describe the time complexity of accessing elements in a dictionary.

Ans. Accessing elements in a dictionary has a time complexity of O(1) on average. This means that, on average, the time it takes to retrieve a value from a dictionary is constant, regardless of the number of items it contains.

Q.18.  In what situations are lists preferred over dictionaries?

Ans. Lists are preferred over dictionaries when the data is an ordered sequence and you need to access items by their position or index. They are also better when you need to store a collection of items without a unique identifier for each.

Situations where lists are preferred :

1. Maintaining order

2. Accessing by index

3. Storing non-unique items

4. Simple Collections

Q.19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. Dictionaries are considered unordered because they're designed for fast data retrieval, not for maintaining a specific sequence of elements. They don't store items based on a numerical index like a list or array. This is because dictionaries are typically implemented using a data structure called a hash table.

Impact on Data Retrieval:

Positive Impact: This is the core reason for a dictionary's fast lookup time (O(1)). By not maintaining order, dictionaries can jump directly to the data's location, making them incredibly efficient for key-based retrieval.

Negative Impact: If your task requires the data to be in a specific order (e.g., chronological or alphabetical), you cannot rely on the dictionary itself to maintain that order. You would have to retrieve the keys and sort them manually before processing the data.

Q.20.  Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. The primary difference in data retrieval between a list and a dictionary is how they locate data: lists find items by their position (index), whereas dictionaries find them by their unique key. This fundamental design choice leads to a significant difference in performance.

# **Practical** **Questions**

Q.1. Write a code to create a string with your name and print it.

In [42]:
# create a string
name="Priya Pareek"
print(name)

Priya Pareek

Q.2. Write a code to find the length of the string "Hello World".

In [43]:
# create a variable string
my_string = "Hello World"
length = len(my_string)
print(f"the length of the string is {length}")
print(f"the length is: {len('Hello Wrold')}")

the length of the string is 11
the length is: 11

Q.3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [45]:
# Create the original string.
my_string = "Python Programming"

# Slice the string to get the first 3 characters.
first_three_characters = my_string[0:3]

# Print the original string and the sliced result.
print(f"Original string: '{my_string}'")
print(f"The first 3 characters are: '{first_three_characters}'")

Original string: 'Python Programming'
The first 3 characters are: 'Pyt'

Q.4.  Write a code to convert the string "hello" to uppercase.

In [49]:
lowercase_string = "hello"
print(f"Original string: '{my_string}'")
uppercase_string = lowercase_string.upper()
print(uppercase_string)
print("world" .upper())

Original string: 'Python Programming'
HELLO
WORLD

Q.5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

Q.6. Write a code to create a list with numbers 1 to 5 and print it.

In [1]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

Q.7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [2]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Q.8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [3]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

Q.9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [5]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

Q.10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [7]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

Q.11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [10]:
my_tuple = [100, 200, 300]
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

(100, 200, 300)
<class 'tuple'>

Q.12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [11]:
my_tuple = ['red', 'green', 'blue', 'yellow']
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

Q.13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)
print(f"The minimum number is: {minimum_number}")

5
The minimum number is: 5

Q.14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(f"The index of 'cat' is: {index_of_cat}")

The index of 'cat' is: 1

Q.15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
# create a tuple of fruits
fruits = ('apple', 'banana', 'orange')


# check if 'kiwi' is in the tuple
if 'kiwi' in fruits:
    print('kiwi is in the tuple')
else:
    print('kiwi is not in the tuple')

kiwi is not in the tuple

Q.16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

Q.17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [20]:
my_set = {1, 2, 3, 4, 5}
print(f"Original set: {my_set}")
my_set.clear()
print(f"Set after clearing: {my_set}")

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

Q.18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [22]:
my_set = {1, 2, 3, 4}
print(f"Original set: {my_set}")
my_set.remove(4)
print(f"Set after removing 4: {my_set}")

Original set: {1, 2, 3, 4}
Set after removing 4: {1, 2, 3}

Q.19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [23]:
# create the first set
set1 = {1, 2, 3}

# create the second set
set2 = {3, 4, 5}

# find the union of the two sets
union_set = set1.union(set2)

print(f"set 1: {set1}")
print(f"set 2: {set2}")
print(f"Union of set1 and set2: {union_set}")

set 1: {1, 2, 3}
set 2: {3, 4, 5}
Union of set1 and set2: {1, 2, 3, 4, 5}

Q.20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [25]:
# create the first set with elements 1, 2, and 3.
set1 = {1, 2, 3}

# create the second set with elements 2, 3, and 4.
set2 = {2, 3, 4}

# find the intersection of the two sets.
intersection_set = set1.intersection(set2)

#print the original sets for clarity
print(f"set 1: {set1}")
print(f"set 2: {set2}")

#print the intersection set
print(f"Intersection of set1 and set2: {intersection_set}")

set 1: {1, 2, 3}
set 2: {2, 3, 4}
Intersection of set1 and set2: {2, 3}

Q.21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [26]:
# create a dictionary named 'my_dictionary'
my_dictionary = {
    'name': 'Priya',
    'age': 24,
    'city': 'Jaipur'
}

# print the dictionary
print(my_dictionary)
print(f"The created dictionary is: {my_dictionary}")

{'name': 'Priya', 'age': 24, 'city': 'Jaipur'}
The created dictionary is: {'name': 'Priya', 'age': 24, 'city': 'Jaipur'}

Q.22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [27]:
# create the initial dictionary with "name" and "age" key-value pairs.
my_dictionary = {'name': 'John', 'age': 25}
print(f"Original dictionary: {my_dictionary}")

# add a new key-value pair "country": "USA" to the dictionary.
my_dictionary['country'] = 'USA'

# print the dictionary again to show the new key-value pair has been added
print(f"Dictionary after adding 'country': {my_dictionary}")

Original dictionary: {'name': 'John', 'age': 25}
Dictionary after adding 'country': {'name': 'John', 'age': 25, 'country': 'USA'}

Q.23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [28]:
# Create the dictionary with "name" and "age" key-value pairs.
person = {
    'name': 'Alice',
    'age': 30
}

# Access the value associated with the key "name" in the dictionary.
name_value = person['name']

# Print the value.
print(f"The value associated with the key 'name' is: {name_value}")

# You can also access values directly in the print statement.
print(f"The value associated with the key 'name' is: {person['name']}")

The value associated with the key 'name' is: Alice
The value associated with the key 'name' is: Alice

Q.24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [30]:
# create the initial dictionary
my_dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(f"Original dictionary: {my_dictionary}")

# remove the key "age" from the dictionary
del my_dictionary['age']
# Print the dictionary again to show that the key "age" has been removed.
print(f"Dictionary after removing 'age': {my_dictionary}")

Original dictionary: {'name': 'Bob', 'age': 22, 'city': 'New York'}
Dictionary after removing 'age': {'name': 'Bob', 'city': 'New York'}

Q.25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [31]:
# create the dictionary
my_dictionary = {
    'name': 'Alice',
    'city': 'Paris'
}

# check if the key "city" exists in the dictionary
if 'city' in my_dictionary:
    print("The key 'city' exists in the dictionary.")
else:
  print ("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

Q.26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [32]:
# create a list
my_list = [10, 20, 30, 40]

# create a tuple
my_tuple = ("apple", "banana", "0range")

# create a dictionary
my_dictionary = {
    "name": "Priya",
    "age": 24,
    "city": "Jaipur"
}
# Print each of the data structures with a descriptive label.
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

List: [10, 20, 30, 40]
Tuple: ('apple', 'banana', '0range')
Dictionary: {'name': 'Priya', 'age': 24, 'city': 'Jaipur'}

Q.27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [36]:
import random

# create a list of 5 random number between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# sort the list in ascending order
random_numbers.sort()

# print the sorted list
print(random_numbers)

[10, 15, 49, 60, 64]

Q.28.  Write a code to create a list with strings and print the element at the third index.

In [38]:
# create a list of strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# print the full list of reference.
print(f"The full list is: {my_list}")

# Get the element at the third index and assign it to a variable.
element_at_third_index = my_list[3]

# print the element at the third index.
print(f"The element at index 3 is: {my_list[3]}")
print(f"The element at the third index is: {element_at_third_index}")

The full list is: ['apple', 'banana', 'cherry', 'date', 'elderberry']
The element at index 3 is: date
The element at the third index is: date

Q.29.  Write a code to combine two dictionaries into one and print the result.

In [39]:
# create the first dictionary
dict1 = {'name': 'Priya', 'age': 24}

# create the second dictionary
dict2 = {'city': 'Jaipur', 'country': 'India'}

# combine the two dictionaries into one
combined_dict = {**dict1, **dict2}

# print the combined dictionary
print(combined_dict)

{'name': 'Priya', 'age': 24, 'city': 'Jaipur', 'country': 'India'}

Q.30.  Write a code to convert a list of strings into a set.

In [41]:
# Create a list of strings, including some duplicates.
my_list = ["apple", "banana","cherry", "apple", "date", "banana"]

# Print the original list to show its contents.
print(f"Original list: {my_list}")

# Convert the list into a set.
my_set = set(my_list)

# Print the set to show the unique elements.
print(f"Set after converting to a set: {my_set}")

Original list: ['apple', 'banana', 'cherry', 'apple', 'date', 'banana']
Set after converting to a set: {'cherry', 'apple', 'date', 'banana'}

# ***-----------END----------***